name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Configure CMake for x64
      run: cmake -B ${{github.workspace}}/build -G "Visual Studio 18 2026" -A x64

    - name: Build for x64
      run: cmake --build ${{github.workspace}}/build --config Release
